.back_btn {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  color: #444;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}

.back_btn:hover {
  opacity: 1;
}
